* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgba(102, 204, 153, 0.7);
}

.wrapper {
  max-width: 700px;
  min-width: 700px;
  margin: auto;
}
.country {
  min-height: 50vh;
  margin: 5vh auto;
  background-color: rgba(204, 255, 255, 0.5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.1);
}

.country > h1 {
  text-align: center;
  margin: 10px auto;
}

.cities {
  display: flex;
  justify-content: space-between;
}

.city {
  width: 200px;
  height: 200px;
  min-width: 5vw;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
}

.city > h3 {
  text-align: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.city__temp__value {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 20px;
  padding: 20px;

  background-color: rgba(136, 224, 66, 0.25);
}

.city > h4 {
  font-size: 14px;
}
.celsium {
  font-size: 8px;
}

.small-text {
  font-size: 12px;
}
